{% include 'header.html' %}
 
 <div class="card-header">
    Ingresar empleados
  </div>
<br>
<form method="post" action="/store" enctype="multipart/form-data">
    <h5 class="card-title">Card title:</h5>
 <div class="form-group">
<label for="txtNombre">Nombre:</label>
 <input id="txtNombre" class="form-control" type="text" name="txtNombre">
</div>
<br>

<div class="form-group">
<label for="txtCorreo">Correo:</label>
<input id="txtCorreot" class="form-control" type="text" name="txtCorreo">
</div>
<br>

<div class="form-group">
<label for="txtFoto">Foto:</label>
<input id="txtFoto" class="form-control" type="file" name="txtFoto">
</div>
<br>
<div class="form-group ">
<input type="submit" class="btn btn-success" value="Agregar">
 <a href="{{url_for('index')}}" class="btn btnprimary">Regresar</a>
</div>
</form>
{% include 'footer.html' %}
