<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<title>hola flask!</title>
</head>
<body>
	
	<div class="container-fluid ">
		<nav class="navbar navbar-expand-lg navbar-light bg-light align-middle">
 <a class="navbar-brand">Gestión de empleados</a>
 <button class="navbar-toggler" data-target="#my-nav" datatoggle="collapse" aria-controls="my-nav" aria-expanded="false" arialabel="Toggle navigation">
 <span class="navbar-toggler-icon"></span>
 </button>
 <div id="my-nav" class="collapse navbar-collapse ">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item">
			<a class="nav-link " href="{{url_for('index')}}">Empleados </span></a>
		</li>
	</ul>
 </div>
 </nav>
